.item-container {
  width: 100rem;
  margin: 0 auto;
}

.item-in-cart-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  padding: 1rem 0;
}

.display-Title-cart-item {
  padding: 2.5rem 0 1.5rem 0;
  font-size: 1.8rem;
}
