.sub-container {
  max-width: 100rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sub-container h2 {
  color: #252b42;
  font-weight: 700;
  font-size: 2rem;
  padding: 2rem 0 1rem 0;
}

.display-grid {
  width: 110rem;
  height: 74rem;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
  row-gap: 1rem;
}

.display-Title {
  padding: 1rem 0;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 22rem;
  height: 35rem;
  background: #fff;
}
.card img {
  height: 23.8rem;
  width: 100%;
}
.product-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.name {
  font-size: 1.6rem;
  font-weight: 700;
  color: #252b42;
}

.categories {
  font-weight: 700;
  font-size: 1.4rem;
  color: #737373;
}

.price {
  font-size: 1.6rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.price-1 {
  color: #bdbdbd;
}
.price-2 {
  color: #23856d;
}
