html {
  font-size: 62.5%;
}
.hero-container {
  padding: 2.5rem 0;
}

@media screen and (max-width: 600px) {
  .nav-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    max-width: 100%;
  }
  .title-mobile {
    color: #252b42;
    font-size: 1.8rem;
    font-weight: 700;
  }
  .ul-hero-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .nav {
    background: #23856d;
  }
  .logo {
    color: #fff;
    font-size: 1.8rem;
  }
  .hero-container {
    padding: 0;
  }
  .hamburger {
    color: #fff;
    font-size: 2rem;
  }
}

.small {
  font-size: 1rem;
}
