.all-product-container {
  padding: 2.5rem 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.all-product-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}
.all-product-header h2 {
  color: #252b42;
  font-size: 2rem;
  font-weight: 700;
}

.all-product-header h4 {
  font-size: 1.6rem;
  color: #737373;
  font-weight: 500;
}

.all-product-header p {
  font-size: 1.2rem;
  font-weight: 400;
  color: #737373;
}

.all-product-main {
  width: 110rem;
  padding: 1.5rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 1rem;
  row-gap: 4rem;
}
.all-product-main .card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  width: 22rem;
  height: 42rem;
  box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.2);
}
.card img {
  height: 23.8rem;
  width: 18.3rem;
}

.card .product-detail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}
.brand {
  color: #606060;
  font-weight: 500;
  font-size: 1rem;
}

.out-of-cost {
  position: absolute;
  right: 50%;
  top: 10rem;
  background: #000;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 700;
  padding: 0.5rem 1rem;
}

.card .name {
  font-size: 1.3rem;
  font-weight: 700;
  color: #1b1b1b;
}

.categories {
  font-weight: 700;
  font-size: 1.4rem;
  color: #737373;
}

.price {
  font-size: 1.4rem;
  font-weight: 600;
  color: #1b1b1b;
}

.rating-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.rating {
  font-weight: 400;
  font-size: 1.2rem;
  color: #606060;
}

.card .star-rating {
  width: 1rem;
  height: 1rem;
}

.btn {
  padding: 1.5rem 4rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: #23a6f0;
  border: 0.1rem solid #23a6f0;
  background-color: transparent;
  cursor: pointer;
}
.card-btn-container {
  width: 100%;
  border-top: 0.1rem solid #606060;
  text-align: center;
  padding: 1rem 0;
  display: none;
}

.card-btn {
  font-weight: 700;
  font-size: 1rem;
  color: #1b1b1b;
  background: none;
  border: none;
}
.all-product-main .card:hover .card-btn-container {
  display: block;
}
